body {
    background: #111;
}

#phase,
footer {
    color: #fff;
}

#phase u {
    background: #fff;
    color: #111;
    font-weight: 400;
}

main {
    display: grid;
    place-content: center;
    overflow: hidden;
    height: 120vw;
    max-height: calc(100vh - 5rem);
}

main,
#moon {
    position: relative;
}

#phase,
canvas[id*='moon'] {
    position: absolute;
    top: 0;
    left: 0;
}

#phase h1 time {
    font-size: 200%;
}

#phase h1 {
    font-size: 125%;
}

#phase h2,
input[type="date"] {
    font-size: 111%;
}

#phase h1 time.days::after {
    font-size: 55%;
}

#phase h1,
input[type="date"] {
    font-family: inherit;
    font-weight: 400;
}

#phase {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#phase h1,
#phase h2 {
    padding: 1rem;
    margin: 0;
}

#phase h2 {
    -webkit-text-stroke: 0.01rem #111;
    text-stroke: 0.01rem #111;
}

#phase u {
    display: inline-block;
    text-decoration: none;
    padding: 0 0.25rem;
    margin-bottom: 0.25rem;
}

#phase time {
    word-break: break-all;
    line-height: 150%;
}

#phase h1 time.days::after {
    content: " days old";
}