@font-face {
    font-family: "Saint";
    src: url("Saint.ttf") format("truetype");
}

#phase u,
#phase h2,
#phase h1 time.days::after,
footer {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-style: normal;
}

#phase u {
    font-weight: 400;
}

#phase time {
    font-family: "Saint", serif;
}

#menu {
    mix-blend-mode: exclusion;
    filter: invert(1);
}

.open footer {
    display: none;
}