footer nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#calendar {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 0;
    gap: 1rem;
    overflow: auto;
    place-items: flex-end;
    width: 100%;
}

#emoji,
#to {
    padding: 2rem 0.75rem 0.5rem;
    margin: 0;
    gap: 0.5rem;
    flex-wrap: wrap;
}

@media (orientation: portrait) {

    #emoji label,
    #to label {
        flex: 1 calc(90%/3);
        text-align: center;
    }
}


main code,
footer nav::before,
footer nav::after {
    position: absolute;
}

main code {
    cursor: help;
    transform: translate(-50%, -50%);
    z-index: 10;
}

footer nav::before {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    line-height: 75%;
    padding: 0.25rem 0;
}

footer nav::after {
    top: 0.5rem;
    left: 1rem;
}

footer nav input[type="radio"] {
    display: none;
}

footer aside {
    position: relative;
}

footer nav input[type="radio"]:checked+label {
    background-color: #eee;
    border-radius: 0.5rem;
    color: #111;
    text-shadow: 0.1rem 0.1rem #777;
}

@font-face {
    font-family: "Saint";
    src: url("Saint.ttf") format("truetype");
}

#phase u,
#phase h2,
#phase h1 time.days::after,
footer {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-style: normal;
}

#phase time,
footer aside::after,
footer aside button,
footer nav::after,
footer details summary::after {
    font-family: "Saint", serif;
}

footer details summary::after,
footer nav::before,
footer nav::after,
footer aside::after {
    background: #fff;
    color: #111;
}

#emoji input[type="radio"]+label {
    font-size: 250%;
}

footer form button {
    font-size: 200%;
    font-weight: 400;
}

footer details summary::after,
footer aside button.today {
    font-size: 150%;
}

#to input[type="radio"]+label,
footer aside #calendar {
    font-size: 125%;
}

summary {
    font-size: 100%;
}

footer aside button {
    appearance: none;
    background: transparent;
    color: #eee;
    border: none;
    outline: none;
    font-size: 111%;
    margin: 0;
}

footer aside button,
#emoji input[type="radio"]+label,
#to input[type="radio"]+label {
    padding: 0.25rem;
}

footer aside button,
#emoji input[type="radio"]+label,
#to input[type="radio"]+label {
    border-radius: 0.25rem;
    transition: all 1s;
}

footer aside button:hover,
#emoji input[type="radio"]+label:hover,
#to input[type="radio"]+label:hover {
    cursor: pointer;
    color: #111;
    background: #eee;
}

footer details summary::after,
footer section {
    padding: 0.5rem 1rem;
    margin: 0;
}

footer aside::after {
    content: 'Your Emotions by Lunar Phase';
    position: absolute;
    top: -1rem;
    right: 0.5rem;
    z-index: 0;
}

footer details summary::after {
    content: "Submit your today's emotions by Emoji and Percentage";
    display: block;
}

#emoji::before {
    content: '感情';
}

#emoji::after {
    content: 'Emoji';
}

#to::before {
    content: '強さ';
}

#to::after {
    content: 'Percent';
}

footer form button {
    cursor: pointer;
    color: #111;
    background: #eee;
    border: none;
    outline: none;
    font-family: inherit;
    margin-top: 0.5rem;
    width: 100%;
}

#menu {
    mix-blend-mode: exclusion;
    filter: invert(1);
}

footer {
    transition: 1s opacity;
}

.open footer {
    opacity: 0;
}